*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
background:linear-gradient(140deg,#0b3a2b,#1e5e3c);
min-height:100vh;
display:flex;
align-items:center;
justify-content:center;
padding:20px;
color:white;
}

.container{
background:rgba(255,255,255,0.08);
backdrop-filter:blur(12px);
border-radius:25px;
padding:25px;
width:100%;
max-width:420px;
border:1px solid rgba(255,215,0,0.4);
}

h1{
font-size:26px;
color:#ffd966;
margin-bottom:10px;
text-align:center;
}

.subtitle{
color:#f8f8f8;
margin-bottom:20px;
text-align:center;
}

h3{
color:#ffe8a3;
margin-top:10px;
}

button{
background:linear-gradient(145deg,#c8a300,#ffd966);
border:none;
padding:14px;
border-radius:30px;
width:100%;
font-weight:bold;
margin-top:10px;
cursor:pointer;
color:#1b2e1f;
}

input{
width:100%;
padding:12px;
border-radius:25px;
border:1px solid gold;
margin-top:10px;
background:rgba(255,255,255,0.2);
color:white;
}

input::placeholder{
color:#eee;
}

.video{
width:100%;
aspect-ratio:16/9;
border-radius:15px;
overflow:hidden;
margin:15px 0;
}

.video video{
width:100%;
height:100%;
object-fit:cover;
}

.card{
background:rgba(0,0,0,0.35);
padding:15px;
border-radius:15px;
text-align:center;
margin-bottom:15px;
}

#listUcapan{
max-height:250px;
overflow:auto;
margin-top:10px;
}

.ucapan{
background:linear-gradient(140deg,#0f3b28,#1e4d2e);
padding:12px;
border-radius:15px;
margin-bottom:10px;
border-left:3px solid gold;
}

.hidden{
display:none;
}

.stars{
position:fixed;
width:100%;
height:100%;
background-image:
radial-gradient(white 1px,transparent 1px);
background-size:50px 50px;
opacity:0.15;
animation:stars 60s linear infinite;
}

@keyframes stars{
from{transform:translateY(0)}
to{transform:translateY(-200px)}
}

.lanterns{
font-size:40px;
text-align:center;
margin-bottom:10px;
}

.small-popup{
width:260px !important;
}

.qr-center{
display:flex;
justify-content:center;
margin-top:10px;
}

.card{
max-width:500px;
margin:auto;
padding:25px;
border-radius:20px;
text-align:left;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

.card h2{
color:#00ff11;
margin-bottom:15px;
}

.family{
font-size:18px;
margin-top:15px;
}

.closing{
margin-top:20px;
font-size:18px;
color:#ffffff;
font-weight:bold;
}
